<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicbankingapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/blogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectToSend"
            android:label="Select User to Send Amount"
            android:theme="@style/profiletheme" />
        <activity
            android:name=".UserProfile"
            android:label="Customer Profile"
            android:theme="@style/profiletheme" />
        <activity android:name=".TransactionHistory" />
        <activity android:name=".CustomerList" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>